{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="container-fluids d-flex justify-content-center">
    <div class="p-c container-register">
        <img src="{% static 'auths/images/Logo.png' %}" alt="Logo" />
        <h2>Create a new <span>Password</span></h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} {% for field in form %}
            <label for="">Old Password:</label>
            <input type="text" class="form-control" placeholder="Old Password" name="oldPassword" /> 

            <label for="">New Password:</label>
            {{field.password1}}

            <label for="">Confirm New Password:</label>
            {{form.password2}}
            {% endfor %}  {% endcomment %}
            {{form}}

            <button type="submit" class="btn btn-outline-danger">Submit</button>

        </form>
    </div>

</section>
{% endblock content %}