{% extends 'main.html' %}

{% block content %}
{% comment %} <a href="{{request.META.HTTP_REFERER}}">back</a> {% endcomment %}
 <section class="container-fluids d-flex justify-content-center">
        <div class="cmmt container-register">
            <h2>Edit Post</h2>
            <form action="" method="POST" class="edit-comment">
                {% csrf_token %}
                {{editC}}
    
                <button type="submit" class="btn btn-outline-danger">Edit</button>
    
            </form>
           
        </div>
    
    </section>
    

{% endblock content %}